@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:SCAN@-31&display=swap');

body {
    background-color: #12031d;
    display: flex;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Sixtyfour;
    color: #e9cdc8; /*kulay ng text*/
    margin-top: 150px; /*margin sa taas para bumaba ung text*/
} /*sa title lang to, wag gamitin sa iba */

.right-box {
    height: 710px;
    width: 700px;
    color: #e9cdc8;
    margin-left: 60px;
    /*para magcenter ung laman ng container*/
    text-align: center;
    align-items: center;
    background-color: #49233d; /*kulay ng background ng container*/
    float: right;
}

.right-box button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    text-align: center; /*position ng text sa loob ng button*/
    color: #e9cdc8; /*kulay ng font nung button*/
    background-color: #87060a; /*kulay nung background ng button*/
    border-radius: 20px;
    cursor: pointer;
}

.left-box img {
    height: 300px;
    width: 300px;
    /*para magcenter ung laman ng container*/
    top: 50%;
    left: 50%;
    align-items: center;
}

.popup {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #49233d;
    visibility: hidden;
    border-color: none;
    box-shadow: 0 4px 5px #5f5c5c;
}

.open-popup {
    visibility: visible;
}

.popup h2 {
    font-size: 27px;
    margin: 30px 0 10px;
}

.popup button {
    /*button dun sa may rules pop up bago mag laro*/
    height: 40px;
    width: 60px;
    font-size: 15px;
    text-align: center; /*position ng text sa loob ng button*/
    color: #e9cdc8; /*kulay ng font nung button*/
    background-color: #87060a; /*kulay nung background ng button*/
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    cursor: pointer;
}

/*css para sa index or main page*/

.main-left { 
    height: 710px;
    width: 700px;
    /*para magcenter ung laman ng container*/
    top: 50%;
    left: 50%;
    text-align: center;
    float: left; 
}

.main-left img {
    width: 600px; 
    height: 600px; 
    text-align: center; 
    align-items: center; 
    float: left;
    margin-left: 50px;
}

.main-left h2 {
    font-size: 30px;
    text-align: center;
    font-family: Sixtyfour;
    color: #F4FAFF;
}

.main-left h3{
    font-size: 25px;
    font-style: bold;
    color: #F4FAFF;
}

.main-center {
    height: 710px;
    width:  700px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    float: left; 
    background-color: #49233d;
    color: #e9cdc8;
}

.content {
    height: auto;
    width: 700;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
}

.user-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word-display { 
    display: flex;
    gap: 5px;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.word-display .letter {
    width: 28px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #e9cdc8;
    border-bottom: 3px solid #e9cdc8;
}

.word-display .letter.guessed {
    border-color: transparent;
    text-transform: uppercase;
    margin: -40px 0 35px;
}

.user-input button {
    width: 50px;
    height: 35px;
    margin: 2px;
    border-radius: 5px;
    background-color: #bb3c40; /*background color ng button*/
    color: #e9cdc8;
}

/*popup para sa hint*/

.userHint {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #49233d;
    visibility: hidden;
    border-color: none;
    box-shadow: 0 5px 7px #1f1c1c;
    z-index: 2;
}

.openHint {
    visibility: visible;
}

.userHint button{
    width: 150px;
    height: 45px;
    margin: 2px;
    border-radius: 5px;
    background-color: #87060a;
    color: #e9cdc8;
}

.userHint p{
    font-size: 30px;
    margin-top: 60px;
}

/*end css para sa popup ng hint*/

.details {
    font-size: 20px;
}

.details button {
    height: 45px;
    width: 300px;
    font-size: 17px;
    font-style: bold;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard button {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    background-color: #af9cc9;
    font-style: bold;
}

.keyboard button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
.keyboard button:hover{
    cursor:pointer;
    background-color: #d4bef5;
    z-index: 0;
}
